body{
  font-family: sans-serif;
  font-size: 12px;
}
ul{

}
li{
  display: inline;
}
ul a{
  text-decoration: none;
  padding-right: 10px;
}
ul a:hover{
  text-decoration: underline;
  font-size: 20px;
}
.wrapper{
  min-width: 500px;
  margin: auto;
  width: 800px;
  background-color: #eaeff2;
  height: 600px;
  border: 2px solid black;
}
.header{
  width: 100%;
  background-color: white;
  height: 100px;
}
.icon{
  float: left;
  width: 50%;
}
.menu{
  float: right;
  width: 50%;
  height: inherit;
}
.menu  ul{
  margin:40px 0px 40px 0px;
  text-align: right;;

}
.mainContent{
  width: 80%;
  height: 400px;
  background-color: green;
  float: left;
}
.sidebar{
  width: 20%;
  height: 400px;
  background-color: yellow;
  float: left;
}
.clear{
  clear: both;
}
.footer{
  margin: auto;
  width: auto;
  height: 100px;
}
